/*
This is an example css for the Black Paper Songlink Plugin
*/

.bp-store-icon{
	border: 4px solid #888888 !important;
    border-radius: 100px !important;
    margin: 5px;
}

.bp-store-icon:hover{
	border-color: #04BFBF !important;
}

.bp-gray,.bp-hover-gray:hover{color:#fff!important;background-color:#141519!important}
.bp-text-gray,.bp-hover-text-gray:hover{color:#141519!important}
.bp-border-gray,.bp-hover-border-gray:hover{border-color:#141519!important}

.bp-light-gray,.bp-hover-light-gray:hover{color:#fff!important;background-color:#25282b!important}
.bp-text-light-gray,.bp-hover-text-light-gray:hover{color:#25282b!important}
.bp-border-light-gray,.bp-hover-border-light-gray:hover{border-color:#25282b!important}
